h1{
    color:darksalmon;
    
    font-family: Impact;
    
    text-align: center;
    
    background-color:aliceblue;
}

h2{
     color:deeppink;
    
    font-family: Impact;
    
    text-align:center;

    background-color:antiquewhite
    
}
    
h3{
    font-size: 23px;
    
    font-family: Impact;
    
    color:crimson;
    
}


p{
    font-size: 15px;
    
    font-weight: bold;
    
    color:darkorchid;
    
    font-family: Impact;
}

table{
    
    background-color:palevioletred;
        
}

href{
    
    background-image: url("../images/miniusagi.jpg")   
    
}

body{
    background-image: url("../images/haikei2.jpg")
}
